In [13]:
import pylab
import pandas as pd
data_df = pd.read_csv('./data.csv')
print(data_df.info())
print(data_df['matchup'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
action_type           30697 non-null object
combined_shot_type    30697 non-null object
game_event_id         30697 non-null int64
game_id               30697 non-null int64
lat                   30697 non-null float64
loc_x                 30697 non-null int64
loc_y                 30697 non-null int64
lon                   30697 non-null float64
minutes_remaining     30697 non-null int64
period                30697 non-null int64
playoffs              30697 non-null int64
season                30697 non-null object
seconds_remaining     30697 non-null int64
shot_distance         30697 non-null int64
shot_made_flag        25697 non-null float64
shot_type             30697 non-null object
shot_zone_area        30697 non-null object
shot_zone_basic       30697 non-null object
shot_zone_range       30697 non-null object
team_id               30697 non-null int64
team_name             30697 non-null object
game_date             30697 non-null object
matchup               30697 non-null object
opponent              30697 non-null object
shot_id               30697 non-null int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.9+ MB
None
['LAL @ POR' 'LAL vs. UTA' 'LAL @ VAN' 'LAL vs. LAC' 'LAL @ HOU'
 'LAL @ SAS' 'LAL vs. HOU' 'LAL vs. DEN' 'LAL @ SAC' 'LAL @ DEN'
 'LAL vs. CHI' 'LAL vs. GSW' 'LAL vs. MIN' 'LAL @ LAC' 'LAL vs. IND'
 'LAL @ SEA' 'LAL vs. SAS' 'LAL vs. DAL' 'LAL vs. PHI' 'LAL @ GSW'
 'LAL vs. SEA' 'LAL vs. DET' 'LAL vs. MIL' 'LAL vs. VAN' 'LAL @ TOR'
 'LAL @ MIA' 'LAL @ DAL' 'LAL vs. POR' 'LAL @ PHX' 'LAL vs. CLE'
 'LAL @ UTA' 'LAL vs. MIA' 'LAL vs. NJN' 'LAL @ NYK' 'LAL @ CLE'
 'LAL @ MIN' 'LAL vs. CHH' 'LAL vs. SAC' 'LAL vs. PHX' 'LAL @ NJN'
 'LAL @ PHI' 'LAL @ CHH' 'LAL @ IND' 'LAL vs. TOR' 'LAL @ DET' 'LAL @ WAS'
 'LAL @ ORL' 'LAL @ ATL' 'LAL @ MIL' 'LAL vs. NYK' 'LAL vs. MEM'
 'LAL vs. ORL' 'LAL @ MEM' 'LAL @ CHI' 'LAL vs. WAS' 'LAL vs. ATL'
 'LAL vs. BOS' 'LAL @ BOS' 'LAL vs. NOH' 'LAL @ NOH' 'LAL @ UTH'
 'LAL vs. SAN' 'LAL @ NOK' 'LAL @ PHO' 'LAL vs. NOK' 'LAL vs. PHO'
 'LAL @ CHA' 'LAL vs. CHA' 'LAL vs. OKC' 'LAL @ OKC' 'LAL vs. BKN'
 'LAL @ BKN' 'LAL @ NOP' 'LAL vs. NOP']

In [25]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-23-fcf7459939c9>:3

In [27]:
spark_df = sqlContext.createDataFrame(data_df)
spark_df.rdd.top(20)

[Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=632, game_id=20300064, lat=33.9603, loc_x=140, loc_y=84, lon=-118.1298, minutes_remaining=0, period=6, playoffs=0, season='2003-04', seconds_remaining=38, shot_distance=16, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2003-11-06', matchup='LAL @ SAS', opponent='SAS', shot_id=5104),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=603, game_id=21500253, lat=33.8123, loc_x=-81, loc_y=232, lon=-118.3508, minutes_remaining=0, period=4, playoffs=0, season='2015-16', seconds_remaining=12, shot_distance=24, shot_made_flag=1.0, shot_type='3PT Field Goal', shot_zone_area='Left Side Center(LC)', shot_zone_basic='Above the Break 3', shot_zone_range='24+ ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2015-11-29', matchup='LAL vs. IND', opponent='IND', shot_id=22007),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=570, game_id=20200127, lat=34.0503, loc_x=-156, loc_y=-6, lon=-118.4258, minutes_remaining=0, period=5, playoffs=0, season='2002-03', seconds_remaining=34, shot_distance=15, shot_made_flag=nan, shot_type='2PT Field Goal', shot_zone_area='Left Side(L)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2002-11-15', matchup='LAL vs. GSW', opponent='GSW', shot_id=3334),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=556, game_id=20200127, lat=34.0163, loc_x=-138, loc_y=28, lon=-118.4078, minutes_remaining=1, period=5, playoffs=0, season='2002-03', seconds_remaining=31, shot_distance=14, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Left Side(L)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2002-11-15', matchup='LAL vs. GSW', opponent='GSW', shot_id=3333),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=552, game_id=20500218, lat=33.9353, loc_x=13, loc_y=109, lon=-118.2568, minutes_remaining=2, period=5, playoffs=0, season='2005-06', seconds_remaining=22, shot_distance=10, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Center(C)', shot_zone_basic='In The Paint (Non-RA)', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2005-12-01', matchup='LAL @ UTA', opponent='UTA', shot_id=7946),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=548, game_id=21200398, lat=33.9043, loc_x=138, loc_y=140, lon=-118.1318, minutes_remaining=3, period=5, playoffs=0, season='2012-13', seconds_remaining=58, shot_distance=19, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Right Side Center(RC)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2012-12-22', matchup='LAL @ GSW', opponent='GSW', shot_id=19984),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=547, game_id=20000347, lat=33.9953, loc_x=123, loc_y=49, lon=-118.1468, minutes_remaining=4, period=5, playoffs=0, season='2000-01', seconds_remaining=40, shot_distance=13, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2000-12-17', matchup='LAL @ TOR', opponent='TOR', shot_id=603),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=546, game_id=20800158, lat=33.9993, loc_x=-29, loc_y=45, lon=-118.2988, minutes_remaining=2, period=4, playoffs=0, season='2008-09', seconds_remaining=55, shot_distance=5, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Center(C)', shot_zone_basic='In The Paint (Non-RA)', shot_zone_range='Less Than 8 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2008-11-18', matchup='LAL vs. CHI', opponent='CHI', shot_id=13327),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=539, game_id=20500826, lat=33.8503, loc_x=-84, loc_y=194, lon=-118.3538, minutes_remaining=0, period=4, playoffs=0, season='2005-06', seconds_remaining=0, shot_distance=21, shot_made_flag=nan, shot_type='2PT Field Goal', shot_zone_area='Left Side Center(LC)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2006-02-26', matchup='LAL vs. BOS', opponent='BOS', shot_id=8975),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=529, game_id=20800821, lat=33.9453, loc_x=69, loc_y=99, lon=-118.2008, minutes_remaining=4, period=5, playoffs=0, season='2008-09', seconds_remaining=18, shot_distance=12, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='In The Paint (Non-RA)', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2009-02-20', matchup='LAL vs. NOH', opponent='NOH', shot_id=14314),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=528, game_id=21200364, lat=33.9153, loc_x=39, loc_y=129, lon=-118.2308, minutes_remaining=3, period=4, playoffs=0, season='2012-13', seconds_remaining=35, shot_distance=13, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Center(C)', shot_zone_basic='In The Paint (Non-RA)', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2012-12-18', matchup='LAL vs. CHA', opponent='CHA', shot_id=19944),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=525, game_id=40700141, lat=33.9113, loc_x=-133, loc_y=133, lon=-118.4028, minutes_remaining=4, period=4, playoffs=1, season='2007-08', seconds_remaining=3, shot_distance=18, shot_made_flag=nan, shot_type='2PT Field Goal', shot_zone_area='Left Side Center(LC)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2008-04-20', matchup='LAL vs. DEN', opponent='DEN', shot_id=28063),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=519, game_id=41100235, lat=34.0163, loc_x=103, loc_y=28, lon=-118.1668, minutes_remaining=0, period=4, playoffs=1, season='2011-12', seconds_remaining=58, shot_distance=10, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2012-05-21', matchup='LAL @ OKC', opponent='OKC', shot_id=30030),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=519, game_id=21500422, lat=33.8903, loc_x=-32, loc_y=154, lon=-118.3018, minutes_remaining=0, period=4, playoffs=0, season='2015-16', seconds_remaining=32, shot_distance=15, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Center(C)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2015-12-22', matchup='LAL @ DEN', opponent='DEN', shot_id=22202),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=518, game_id=20101159, lat=33.9093, loc_x=108, loc_y=135, lon=-118.1618, minutes_remaining=1, period=5, playoffs=0, season='2001-02', seconds_remaining=35, shot_distance=17, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Right Side Center(RC)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2002-04-14', matchup='LAL @ POR', opponent='POR', shot_id=3073),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=516, game_id=21100669, lat=33.9963, loc_x=95, loc_y=48, lon=-118.1748, minutes_remaining=4, period=4, playoffs=0, season='2011-12', seconds_remaining=46, shot_distance=10, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2012-03-18', matchup='LAL vs. UTA', opponent='UTA', shot_id=19138),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=515, game_id=40000083, lat=34.0523, loc_x=146, loc_y=-8, lon=-118.1238, minutes_remaining=0, period=5, playoffs=1, season='2000-01', seconds_remaining=34, shot_distance=14, shot_made_flag=1.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2001-06-06', matchup='LAL vs. PHI', opponent='PHI', shot_id=26472),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=515, game_id=20600977, lat=34.0223, loc_x=227, loc_y=22, lon=-118.0428, minutes_remaining=0, period=5, playoffs=0, season='2006-07', seconds_remaining=44, shot_distance=22, shot_made_flag=1.0, shot_type='3PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Right Corner 3', shot_zone_range='24+ ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2007-03-16', matchup='LAL vs. POR', opponent='POR', shot_id=10995),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=515, game_id=20000347, lat=33.9723, loc_x=-48, loc_y=72, lon=-118.3178, minutes_remaining=0, period=4, playoffs=0, season='2000-01', seconds_remaining=48, shot_distance=8, shot_made_flag=nan, shot_type='2PT Field Goal', shot_zone_area='Left Side(L)', shot_zone_basic='In The Paint (Non-RA)', shot_zone_range='8-16 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2000-12-17', matchup='LAL @ TOR', opponent='TOR', shot_id=601),
 Row(action_type='Turnaround Jump Shot', combined_shot_type='Jump Shot', game_event_id=512, game_id=20200127, lat=34.0183, loc_x=161, loc_y=26, lon=-118.1088, minutes_remaining=4, period=5, playoffs=0, season='2002-03', seconds_remaining=26, shot_distance=16, shot_made_flag=0.0, shot_type='2PT Field Goal', shot_zone_area='Right Side(R)', shot_zone_basic='Mid-Range', shot_zone_range='16-24 ft.', team_id=1610612747, team_name='Los Angeles Lakers', game_date='2002-11-15', matchup='LAL vs. GSW', opponent='GSW', shot_id=3331)]